@charset "UTF-8";
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Roman/HNC-Roman.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Roman/HNC-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman/HNC-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman/HNC-Romann.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant-Medium/Cormorant-Medium.eot");
  src: local("☺"), url("../fonts/Cormorant-Medium/Cormorant-Medium.woff") format("woff"), url("../fonts/Cormorant-Medium/Cormorant-Medium.ttf") format("truetype"), url("../fonts/Cormorant-Medium/Cormorant-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@media (min-width: 1201px) {
  .nav {
    font-family: "HelveticaNeueCyr";
    font-size: 10px;
    line-height: 26px;
    color: #A68E52;
    left: 45px;
  }
  .nav .nav__active-gray {
    color: #757575;
  }

  .block-1__inner .block-1__project-text {
    font-family: "Cormorant";
    font-weight: 500;
    font-size: 68px;
    line-height: 68px;
    color: #fdfbfb;
  }
  .block-1__inner .block-1__subway {
    display: flex;
  }

  .block-3__inner .block-3__title {
    margin-left: 205px;
  }
  .block-3__inner .block-3__container {
    margin-left: 205px;
  }
  .block-3__inner .block-3__container .block-3__info-left span {
    display: none;
  }
  .block-3__inner .block-3__container .block-3__info-left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .block-4__inner .block-4__container {
    left: 235px;
  }

  .block-5__inner .block-5__container {
    left: 140px;
  }
  .block-5__inner .block-5__container .block-5__phone {
    margin-left: 3vw;
  }
  .block-5__inner .block-5__container .block-5__info {
    font-family: "Cormorant";
    font-weight: 500;
    font-size: 30px;
    line-height: 68px;
    color: #212224;
  }
  .block-5__inner .block-5__container .block-5__burger-menu {
    display: none;
  }
}
@media (max-width: 1200px) {
  .nav {
    font-family: "HelveticaNeueCyr";
    font-size: 10px;
    line-height: 26px;
    color: #A68E52;
    left: 45px;
  }
  .nav .nav__active-gray {
    color: #757575;
  }

  .block-1__inner .block-1__project-text {
    font-family: "Cormorant";
    font-weight: 500;
    font-size: 68px;
    line-height: 68px;
    color: #fdfbfb;
  }
  .block-1__inner .block-1__subway {
    display: flex;
  }

  .block-3__inner .block-3__title {
    margin-left: 205px;
  }
  .block-3__inner .block-3__container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    margin-left: 205px;
  }
  .block-3__inner .block-3__container .block-3__apartment .block-3__apartment-params {
    position: absolute;
    top: 40px;
    left: 0;
  }
  .block-3__inner .block-3__container .block-3__info-left {
    width: 200px;
    margin-right: 30px;
  }
  .block-3__inner .block-3__container .block-3__info-left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .block-3__inner .block-3__container .block-3__info-left span {
    display: none;
  }

  .block-4__inner .block-4__container {
    left: 235px;
  }

  .block-5__inner .block-5__container {
    left: 140px;
  }
  .block-5__inner .block-5__container .block-5__phone {
    margin-left: 3vw;
  }
  .block-5__inner .block-5__container .block-5__info {
    font-family: "Cormorant";
    font-weight: 500;
    font-size: 26px;
    line-height: 68px;
    color: #212224;
  }
  .block-5__inner .block-5__container .block-5__burger-menu {
    display: none;
  }
}
@media (max-width: 992px) {
  .block-3__inner .block-3__container .block-3__info-left {
    max-width: 0;
    margin-right: 0px;
  }
  .block-3__inner .block-3__container .block-3__info-left span {
    font-family: "HelveticaNeueCyr";
    font-size: 14px;
    line-height: 24px;
    color: #A68E52;
    position: absolute;
    top: 190px;
    left: -60px;
    display: block;
    transform: rotate(-90deg);
    border-bottom: 1px solid #A68E52;
    text-transform: uppercase;
    cursor: pointer;
  }

  .block-4__inner .block-4__text {
    display: flex;
    flex-direction: column;
  }
  .block-4__inner .block-4__text :first-child {
    margin-bottom: 10px;
  }
  .block-4__inner .block-4__carousel-item-3 {
    display: none;
  }

  .block-5__inner .block-5__contacts {
    flex-direction: column;
  }
  .block-5__inner .block-5__contacts h5 {
    display: none;
  }
  .block-5__inner .block-5__contacts .block-5__phone {
    margin: 11px 0 0;
  }
  .block-5__inner .block-5__contacts .block-5__info {
    margin-bottom: -20px;
  }
  .block-5__inner .block-5__link-container img {
    display: block;
    margin-bottom: 10px;
  }

  footer a {
    display: block;
  }
  footer .footer__address img {
    display: none;
  }
  footer .footer__phone img {
    display: none;
  }
}
@media (max-width: 767px) {
  .nav {
    font-family: "HelveticaNeueCyr";
    font-size: 10px;
    line-height: 26px;
    color: transparent;
    left: 20px;
  }
  .nav .nav__active-gray {
    color: inherit;
  }

  .header {
    left: 175px;
  }

  .block-1__inner .block-1__project-text {
    font-family: "Cormorant";
    font-weight: 500;
    font-size: 38px;
    line-height: 38px;
    color: #fdfbfb;
  }
  .block-1__inner .block-1__subway {
    display: none;
  }

  .block-3__inner .block-3__title {
    margin-left: 70px;
  }
  .block-3__inner .block-3__container {
    margin-left: 70px;
  }

  .block-4__inner .block-4__container {
    left: 70px;
  }
  .block-4__inner .block-4__container .block-4__carousel-item-2 {
    display: none;
  }

  .block-5__inner .block-5__container {
    left: 70px;
  }
  .block-5__inner .block-5__container span[class*=link] {
    display: none;
  }
  .block-5__inner .block-5__container .block-5__contacts {
    display: none;
  }
  .block-5__inner .block-5__container .block-5__burger-menu {
    display: inline-block;
  }

  .footer .footer__address {
    display: none;
  }
  .footer .footer__lang {
    display: none;
  }
}
@media (min-height: 651px) {
  .block-3__inner .block-3__info-left {
    height: auto;
  }
  .block-3__inner .block-3__contacts {
    display: flex;
  }

  .block-4__inner .block-4__text {
    display: flex;
  }
  .block-4__inner .block-4__doc {
    display: flex;
  }
}
@media (max-height: 650px) {
  .block-3__inner .block-3__info-left {
    height: auto;
  }
  .block-3__inner .block-3__contacts {
    display: none;
  }
  .block-3__inner .block-3__link {
    display: none;
  }

  .block-4__inner .block-4__text {
    display: flex;
  }
  .block-4__inner .block-4__carousel-item {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .block-4__inner .block-4__carousel-item .block-4__doc {
    display: none;
  }
}
@media (max-height: 500px) {
  .block-3__inner .block-3__info-left {
    height: 225px;
  }

  .block-4__inner .block-4__text {
    display: none;
  }
}